# Project exclude paths
/project/target/
/target/
/target/scala-2.12/classes/
dataset
results
.idea
data-processing/post-processing/input/*
data-processing/post-processing/output/*
data-processing/pre-processing/input/*
data-processing/pre-processing/output/*
notes